.container {
    height: 40vh;
    width: 80vw;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 100px;
}

.bar {
    width: 1vw;
    margin: 0px;
}

.tmp {
    background-color: black;
    width: 4vw;
    height: 2vh;
    margin: 5vw;
    margin-top: 15vh;
    font: 'Segoe UI';
    color: white;
    border: 0px;
    font-size: 1.125rem;
    line-height: 5.5rem;
}